
.hero {
  background: linear-gradient(to right, #001c24, #114c5f);
  color: white;
  padding: 80px 0;
  text-align: center;
}
.hero h1 {
  font-weight: 700;
}
.hero p {
  font-size: 1.2rem;
  margin-bottom: 25px;
}
.btn-orange {
  background-color: #ff8000;
  color: white;
  border: none;
  padding: 10px 25px;
  font-weight: 500;
  border-radius: 25px;
}
.btn-orange:hover {
  background-color: #e87000;
}


.section-title {
  font-weight: 700;
  margin-bottom: 15px;
}


.card-body h5 {
  font-size: 1.1rem;
}
.card-body p {
  font-size: 0.95rem;
}
footer {
  background-color: #1c1c1c;
  color: #fff;
  text-align: center;
  padding: 20px 0;
  font-size: 0.9rem;
}
